.cartMain {
    max-width: 1160px;
    margin: 47px auto 148px auto;
}

.cartTitle, .cartList, .cartItem, .cartLeft, .cartMiddle,
.cartShipment, .cartArea, .cartPayment, .cartDeliverTime,
.cartCheck, .cartMoney, .cartYesPay {
    display: flex;
}

.cartTitle {
    margin: 50px 0 12px 0 ;
    font-weight: bold;
}

.cartList {
    flex-flow: column;
    border: 1px solid #979797;
    padding: 10px 31px 40px 44px;
}

.cartItem {
    margin-top: 30px;
    align-items: center;
}

.cartLeft {
    flex: 2 0 auto;
}

.cartImg {
    width: 114px; height: 151px;
    background: #8b572a;
}

.cartImg > img {
    width: 100%;
}

.cartBasic {
    margin-left: 10px;
}

.cartMiddle {
    justify-content: space-between;
    align-items: center;
    width: 404px;
    text-align: center;
}

.cartMoji {
    /* display: none; */
    margin-bottom: 10px;
}

.cartQty > select {
    width: 80px; height: 30px;
    outline: none;
    border-radius: 6px;
    padding-left: 17px;
}

.cartRight {
    flex: 0.57 0 auto;
}

.cartDelete {
    width: 44px; height: 44px;
    background: url(./img/cart-remove.png) no-repeat;
    cursor: pointer;
    margin-left: auto;
}

.cartDelete:hover {
    background: url(./img/cart-remove-hover.png) no-repeat;
}

.cartShipment {
    margin: 26px auto 20px auto;
    background-color: #e8e8e8;
}

.cartShipment select {
    width: 171px; height: 30px;
    border-radius: 6px;
    outline: none;
    padding-left: 17px;
}

.cartArea, .cartPayment {
    margin: 22px 52px 22px 0;
}

.cartShipment p {
    margin: 0 20px 0 30px;
}

.cartOrderInfo {
    max-width: 684px;
}

.cartOrderInfo form {
    width: 100%;
}

.cartTextInput {
    width: 83.6%; height: 30px;
    margin-left: 30px;
    border-radius: 6px;
    outline: none; 
    border: 1px solid #979797;
    padding: 3px 10px;
    margin-top: 30px;
}

.cartReminder {
    text-align: right;
    color: #8b572a; 
    margin-top: 10px;
}

.cartCheck {
    flex-flow: column;
    align-items: flex-end;
    max-width: 240px;
    margin-left: auto;
    margin-top: 89px;
}

.cartMoney {
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.cartMoney:nth-child(2) {
    margin: 20px 0 40px 0;
}

.cartMoneyWord {
    flex: 1 0;
}

.cartMoneyUnit {
    flex: 0 0;
    margin-right: 10px;
}

.cartMoneyTotal {
    font-size: 30px;
    flex: 0 0;
}

.cartMoneyWord, .cartMoneyUnit {
    font-size: 16px;
}

.cartYesPay {
    width: 240px; height: 60px;
    background: black;
    color: white;
    font-size: 20px;
    letter-spacing: 4px;
    border: 1px outset #888888;
    outline: none;
    cursor: pointer;
    margin: 50px 0 0 auto;
    justify-content: center;
}
