.prod {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.prodMain {
    max-width: 1200px;
    margin: 70px auto 16px auto;    
}

.info {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 50px;
}

.left {
    min-width: 60%;
    padding-right: 5.4%;
    overflow: hidden;
}

.left > img {
    width: 100%;
}

.right{
    min-width: 40%;
}

.prodTitle, .prodPrice {
    color: #3f3a3a;
}

.prodTitle, .prodId {
    white-space: nowrap;
}

.prodTitle {
    font-size: 26px;
    letter-spacing: 6.4px;
    height: 38px;
    margin-bottom: 16px;
}

.prodId {
    font-size: 18px;
    letter-spacing: 4px;
    color: #bababa;
    height: 24px;
    margin-bottom: 40px;
}

.prodPrice {
  height: 58px;
  font-size: 28px;
  margin-bottom: 32px;
  border-bottom: 1px solid #3f3a3a;
}

.prodColors, .prodSizes, .pieceWant {
    display: flex;
    align-items: center;
}


.option {
    width: 64px; height: 24px;
    font-size: 20px;
    letter-spacing: 4px;
    color: #3f3a3a;
    margin: 0 36px 0 0; 
    border-right: 2px solid #d5d5d5;
}

.prodColors { 
    height: 36px;
    margin-bottom: 30px;
}

.sikaku {
    width: 36px; height: 36px;
    margin-right: 15px;
    position: relative;
    border: 1px solid transparent;
    transition: border .3s ease;
}

.colorSelect {
    border: 1px solid #aca7a7;
}

.iro {
    width: 24px; height:24px;
    border: 1px solid #aca7a7;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.prodSizes { 
    height: 34px;
    margin-bottom: 26px;
}

.sml {
    width: 34px; height: 34px;
    background-color: #ececec;
    border-radius: 50%;
    font-size: 18px;
    letter-spacing: 4px;
    color: #3f3a3a;
    text-align: center; 
    line-height: 34px;
    padding: 1px 0 0 4px;
    margin-right:  20px;
    transition: color .2s ease, background-color .3s ease;
    cursor: pointer;
}

.sizeSelect {
    color: #ffffff;
    background-color: #000000;
}

.prodPiece { 
    margin-bottom: 29px;
    display: flex;
    align-items: center;
}

.count, .countBtn {
    border: none; outline: none;
    background-color: #ffffff;
    font-size: 20px; 
    height: 44px;
}

.counter {
    border: 1px solid #d5d5d5;
}

.count {
    width: 72px;
    color: #8b572a;
    text-align: center;
}

.countBtn {
    width: 44px;
    color: #3f3a3a;
    cursor: pointer;
}

.addToCart {
    width: 360px; height: 60px;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 4px;
    color: #ffffff;
    background: #000000;
    border: 1px outset #888888;
    outline: none;
}

.memo {
    display: flex;
    padding-top: 40px;
    height: 230px;
    flex-flow: column;
    justify-content: flex-end;
}

.prodNote {
    flex: 1;
}

.prodTexture {
    flex: 0;
}

.prodDesc {
    flex: 1.2;
}

.prodPlace {
    flex: 0;
}

.details {
    max-width: 960px;
    margin-bottom: 50px;
}

.details > img {
    width: 100%;
}

.rule {
    height: 30px;
    margin-bottom: 28px;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 4px;
    color: #8b572a;
    overflow: hidden;
}

.rule:after {
    content: "";
    display: inline-block;
    width: 100%; height: 14px;
    vertical-align: bottom;
    margin: 0 -100% 0 60px;
    border-top: 1px solid #3f3a3a;
}

.prodStory {
    margin: 30px auto;
    font-size: 16px;
}

@media screen and (max-width:1200px) {

    .prodMain {
        margin: 55px auto 16px auto;    
    }

    .info {
        margin-bottom: 30px;
    }

    .left {
        min-width: 55%;
        padding-right: 3.5%;
    }

    .right{
        min-width: 45%;
    }

    .prodTitle {
        font-size: 22px;
        letter-spacing: 4px;
        height: 34px;
        margin-bottom: 8px;
    }

    .prodId {
        font-size: 16px;
        letter-spacing: 3px;
        margin-bottom: 20px;
    }

    .prodPrice {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .option {
        width: 52px;
        font-size: 16px;
        letter-spacing: 3px;
        margin: 0 18px 0 0; 
    }

    .prodColors { 
        height: 36px;
        margin-bottom: 15px;
    }

    .sikaku {
        width: 30px; height: 30px;
        margin-right: 10px;
    }

    .iro {
        width: 20px; height: 20px;
    }

    .prodSizes { 
        margin-bottom: 13px;
    }

    .sml {
        width: 30px; height: 30px;
        font-size: 16px;
        letter-spacing: 3px;
        line-height: 30px;
        padding: 1px 0 0 2px;
        margin-right: 12px;
    }

    .prodPiece { 
        margin-bottom: 15px;
    }

    .count, .countBtn {
        font-size: 18px; 
        height: 34px;
    }

    .count {
        width: 54px;
    }

    .countBtn {
        width: 34px;
        color: #3f3a3a;
    }

    .addToCart {
        width: 240px; height: 44px;
        font-size: 18px;
        line-height: 1;
        letter-spacing: 3px;
    }

    .memo {
        padding-top: 20px;
    }

    .details {
        max-width: 840px;
    }

    .rule {
        margin-bottom: 20px;
        font-size: 16px;
        letter-spacing: 3.2px;
    }

    .rule:after {
        margin: 0 -100% 0 30px;
    }

    .prodStory {
        margin: 20px auto;
        font-size: 14px;
    }
}

@media screen and (max-width:900px) {

    .prodMain {
        margin: 35px auto 16px auto;    
    }

    .prod {
        padding: 0 24px;
    }

    .info {
        flex-flow: column;
        justify-content: center;
        margin-bottom: 28px;
    }

    .left {
        width: 100%;
        padding-right: 0;
    }

    .right {
        width: 100%;
    }

    .prodTitle {
        font-size: 20px;
        letter-spacing: 3px;
        height: 32px;
        margin-top: 17px; 
        margin-bottom: 4px;
    }

    .prodId {
        font-size: 14px;
        letter-spacing: 2px;
        margin-bottom: 12px;
    }

    .prodPrice {
        height: 40px;
        font-size: 22px;
        margin-bottom: 20px;
    }

    .option {
        font-size: 14px;
        letter-spacing: 2px;
        width: 45px;
    }

    .prodColors { 
        margin-bottom: 30px;
    }

    .sikaku {
        width: 36px; height: 36px;
    }

    .iro {
        width: 24px; height: 24px;
    }

    .prodSizes { 
        margin-bottom: 30px;
    }

    .sml {
        width: 34px; height: 34px;
        font-size: 18px;
        line-height: 34px;
        margin-right:  20px;
    }

    .prodPiece > .option {
        display: none;
    }

    .counter {
        width: 100%;
    }

    .count, .countBtn {
        font-size: 20px; 
        height: 44px;
    }

    .count {
        width: calc(100% - 88px);
    }

    .countBtn {
        width: 44px;
    }

    .addToCart {
        width: 100%;
        font-size: 16px;
    }

    .memo {
        font-size: 14px;
        padding-top: 28px;
        height: 220px;
    }

    .details {
        max-width: 600px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width:600px) {

    .prod {
        padding: 0;
    }

    .prodMain {
        margin: 0 auto;    
    }

    .right {
        width: 100%;
        padding: 0 24px;
    }

    .details {
        padding: 0 24px;
    }
}