body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.profileMain {
    max-width: 1160px;
    margin: 30px auto auto auto;
}

#profileNotIn {
    width: 600px; height: 400px;
    flex-direction: column;
    display: none;
}

#loginBtn {
    width: 180px; height: 40px;
    background: black;
    color: white;
    font-size: 16px;
    letter-spacing: 4px;
    border: 1px outset #888888;
    outline: none;
    cursor: pointer;
    margin-top: 60px;
}

#profileCard {
    width: 600px; height: 400px;
    flex-direction: column;
    display: none;
}

#profileIcon {
    width: 180px; height:180px;
    margin: 0 auto;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    background: skyblue;
}

#profileName, #profileEmail {
    text-align: center;
}