body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.profileMain {
    max-width: 1160px;
    margin: 30px auto auto auto;
}


#profileNotIn {
    width: 600px; height: 400px;
    flex-direction: column;
    display: none;
}

#loginBtn {
    width: 180px; height: 40px;
    background: black;
    color: white;
    font-size: 16px;
    letter-spacing: 4px;
    border: 1px outset #888888;
    outline: none;
    cursor: pointer;
    margin-top: 60px;
}

#profileCard {
    margin-bottom: 70px;
    flex-direction: column;
    /* display: none; */
}

#profileIcon {
    width: 120px; height: 120px;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: 60px; left: 50px;
}

.profileTop {
    position: relative;
    width: 550px; height: 500px;
    box-shadow: 2px 2px 4px -1px #ccc;
    margin-top: 30px;
}

.profileTop:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 140px 550px;
    border-color: transparent transparent #eee transparent;
    z-index: -1;
}

.profileTop:after {
    content: "";
    position: absolute;
    width: 100%; height: 360px;
    top: 140px;
    background: #eee;
    z-index: -1;
}

.profileInfoWrap {
    position: absolute;
    top: 185px; left: 175px;
}

#profileName, #profileEmail {
    color: #8b572a;
    margin-bottom: 30px;
}

#profileName {
    font-size: 24px;
}

#profileEmail {
    font-size: 18px;
}

@media screen and (max-width:600px) {
    .profileMain {
        padding: 0 24px;
    }    

    #profileIcon {
        width: 90px; height: 90px;
        top: 30px; left: 20px;
    }

    .profileTop {
        width: 280px; height: 460px;
    }

    .profileTop:before {
        border-width: 0 0 100px 280px;
    }
    
    .profileTop:after {
        width: 100%; height: 360px;
        top: 100px;
    }
    
    .profileInfoWrap {
        position: absolute;
        top: 150px; left: 40px;
    }

    #profileName, #profileEmail {
        margin-bottom: 25px;
    }
    
    #profileName {
        font-size: 22px;
    }
    
    #profileEmail {
        font-size: 16px;
    }
}