* {
    box-sizing: border-box;
    margin: 0; padding: 0;
}

body {
    font-family: Meiryo, PingFangTC, sans-serif;
}

header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
}

.logo {
    flex: none;
    max-width: 50%;
    margin: 26px 0 26px 60px;
    order: 1;
}

.logo > a {
    vertical-align: middle;
}

.logo img {
    width: auto;
    height: 48px;
    vertical-align: middle;
}

.smallSearch {
    display: none;
}

.feature {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 36px 0 20px;
    max-width: 50%; 
    flex: 0 1;
    order: 3;
}

nav {
    padding-left: 6.34%;
    display: flex;
    flex: 1 0;
    order: 2;
}

.item {
    display: inline-flex;
    flex-basis: 20%;
    letter-spacing: 20px;
    font-size: 20px;
    margin-top: 16px;
    white-space: nowrap;
    text-align: center;
    color: #3f3a3a;
    cursor: pointer;
    text-decoration: none;
    transition: color .3s ease;
}

.item:hover, .item:active {
    color: #8b572a;
}

.activeTab {
    color: #8b572a;
}

nav > span {
    display: inline-block;
    width: 34px; height: 28px;
    margin-top: 16px;
    font-size: 20px;
}

#mobileSubmit {
    display: none;
}

.searchBar {
    display: flex;
    justify-content: space-between;
    width: 50%; height: 40px;
    padding-left: 15px;
    border: 1px solid #979797;
    border-radius: 20px; 
    flex-shrink: 1;
}

.searchBar > input {
    white-space: nowrap;
    overflow: hidden; text-overflow: ellipsis;
    font-size: 20px;
    border: none; outline: none;
    border-radius: 10px; 
    flex-shrink: 1;
}

.searchBar > button {
    min-width: 60px;
    display: inline-block;
    background: url(./img/search.png) no-repeat;
    background-position: calc(100% - 5px) calc(100% + 3px);
    border: none; outline: none;
    cursor: pointer;
    position: relative;
}

.searchBar, .cart {
    margin-right: 10%; 
}

.cart, .member {
    width: 44px; height: 44px;
    cursor: pointer;
}

.cart > a , .member > a {
    position: absolute;
    width: 100%; height: 100%;
    top: 0; left: 0;
    text-decoration: none;
    z-index: 6;
    /* 下面三項是為了讓 IE 也點得到 */
    background-color: #FFF; 
    opacity: 0;
    filter: alpha(opacity = 1);
}

.cart {
    background: url(./img/cart.png) no-repeat;
    position: relative;
}

.cart:hover {
    background: url(./img/cart-hover.png) no-repeat;
}

.badge {
    text-align: center;
    position: absolute;
    left: 22px; top: 18px;
    font-size: 12px;
    color: white;
    border-radius: 50%;
    background-color: #8b572a;
    display: inline-block;
    width: 20px; height: 20px;
}

.member {
    background: url(./img/member.png) no-repeat; 
}

.member:hover {
    background: url(./img/member-hover.png) no-repeat; 
}

.smallBar {
    display: none;
}

.bar {
    width: 100%; height: 40px;
    background-color: #313538;
}

.carousel {
    width: 100%; height: 500px;
    position: relative;
    overflow: hidden;
}

.carousel > .slide {
    width: 100%; height: 100%;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
    position: absolute; left: 100%; top:0;
    /* transform: translateX(0); */
}

.carousel > .slide:first-child {
    left: 0;
}

.carousel > .in {
    animation: slide-in 0.4s;
    animation-fill-mode: forwards;
}

.carousel > .out {
    animation: slide-out 0.4s;
    animation-fill-mode: forwards;
}

@keyframes slide-in {
    0% {
        left: 100%;
    }
    100% {
        left: 0;
    }
}
@keyframes slide-out {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}

.story {
    width: 310px; height: 228px;
    font-size: 30px;
    line-height: 57px;
    text-align: left;
    color: #070707;
    position: absolute;
    left: 34%; top: 50%; 
    transform: translateX(-34%) translateY(-50%);
}

.subText {
    font-size: 20px;
}

.dotWrap {
    width: 75px; height: 10px;
    position: absolute;
    left: 50%; top: 90.12%; 
    transform: translateX(-50%) translateY(-90.12%);
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.dot, .activeDot {
    width: 10px; height: 10px;
    border-radius: 50%;
    background-color: rgba(255,255,255,.5);
    transition: .2s ease;
    cursor: pointer;
    z-index: 2;
}

.activeDot, .initDot {
    background-color: #8b572a;
}

main {
    max-width: 1200px;
    margin: 70px auto 16px auto;
}

.loading {
    width: 100%; height: 64px;
    background: url(./img/loading.gif) no-repeat #fff;
    background-position: center;
    display: none;
    z-index: 10;
    margin-bottom: 39px;
}

.nothing {
    width: 100%; height: calc(100vh - 315px);
    display: none;
    z-index: 2;
    font-size: 20px;
    margin: 30px 0 39px 0;
    padding: 0 24px;
    text-align: center;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.product {
    width: 360px; 
    overflow: hidden;
    position: relative;
    margin-bottom: 50px;
}

.product  a {
    position: absolute;
    width: 100%; height: 100%;
    top: 0; left: 0;
    text-decoration: none;
    z-index: 6;
    /* 下面三項是為了讓 IE 也點得到 */
    background-color: #FFF; 
    opacity: 0;
    filter: alpha(opacity = 1);
}

.new {
    background-color: #c49871;
    width: 64px; height: 64px;
    position: absolute;
    border-radius: 50%;
    top: 10px; right: 10px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 64px;
}

.product > img {
    max-width: 100%; height: auto;
    display: block;
}

.palette {
    width: 100%; height: 24px;
    margin: 15pt 0;
    display: flex;
    align-items: center;
}

.colors {
    width: 24px; height: 24px;
    margin-right: 10px;
    border: 1px solid #ddd;
}

.title, .price {
    letter-spacing: 4px;
    font-size: 20px;
}

.price {
    margin: 10px 0 0 0;
}

footer {
    width: 100%;
    background-color: #313538;
}

.ftWrap {
    max-width: 1160px; height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
}

.ftNav {
    flex: 2 1 auto;
    display: flex;
    justify-content: center;
}

.ftNav > span {
    color: #f5f5f5;
}

.guide {
    flex: 1;
    font-size: 16px;
    color: #f5f5f5;
    white-space: nowrap;
    text-align: center;
}

.sns {
    flex: 1 0 auto;
    display: flex;
    justify-content: flex-end;
}

.line, .twi, .fb {
    width: 50px; height: 50px;
}

.line {
    background: url(./img/line.png) no-repeat; 
    background-size: 100%;
}

.twi {
    background: url(./img/twitter.png) no-repeat;
    background-size: 100%;
    margin: 0 9%;
}

.fb {
    background: url(./img/facebook.png) no-repeat;
    background-size: 100%;
}

.copy {
    flex: 0.3 0 auto;
    text-align: right;
    font-size: 12px;
    color: #828282;
    white-space: nowrap;
    line-height: 30px;
}

@media screen and (max-width:1200px) {
    
    .logo {
        flex: auto;
        margin: 26px 0 26px 24px;
    }
    
    .logo img {
        height: 36px;
    }

    nav {
        padding-left: 0;
        display: flex;
        flex: none;
        width: 100%; height: 50px;
        margin: 0 auto;
        justify-content: space-evenly;
        align-items: center;
        align-self: center;
        order: 3;
        background-color: #313538;
    }
    
    .item {
        flex-basis: 0%;
        color: #828282;
        letter-spacing: normal;
        font-size: 16px;
        margin-top: 0;
    }
    
    .item:hover, .item:active {
        color: #ffffff;
    } 
    
    .activeTab {
        color: #ffffff;
    }
    
    nav > span {
        display: inline-block;
        width: 2px; height: 22px;
        font-size: 16px;
        margin-top: 0;
        color: #828282;
    }

    .feature {
        order: 2;
    }

    .bar {
        display: none;
    }

    .carousel {
        height: 315px;
    }

    .story {
        width: 226px; height: 163px;
        font-size: 20px;
        line-height: 42px;
        left: 22%; top: 42.5%; 
        transform: translateX(-22%) translateY(-42.5%);
    }
    
    .subText {
        font-size: 14px;
    }

    main {
        max-width: 640px;
        margin: 45px auto 6px auto;
    }

    .product {
        width: calc(31%); 
        overflow: hidden;
        margin-bottom: 32px;
    }

    .new {
        width: 48px; height: 48px;
        font-size: 16px;
        line-height: 48px;
    }

    .palette {
        height: 18px;
        margin: 10pt 0 12px 0;
    }
    
    .colors {
        width: 18px; height: 18px;
        margin-right: 8px;
    }

    .title, .price {
        letter-spacing: 3.2px;
        font-size: 13px;
    }
    
    .price {
        margin: 8px 0 0 0;
    }
    
    .ftWrap {
        max-width: 640px;
        flex-flow: row wrap;
    }

    .ftNav {
        flex: 1.5 1 auto;
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }

    .ftNav > span {
        display: none;
    }
    
    .ftNav :nth-child(3) { order: 2; }
    .ftNav :nth-child(5) { order: 4; margin-right: auto;}
    .ftNav :nth-child(7) { order: 1; }
    .ftNav :nth-child(9) { order: 3; }
    
    .guide {
        flex: 0 1 50%;
        font-size: 14px;
        line-height: 30px;
    }

    .sns {
        flex: 1.5 1 auto;
        justify-content: center;
    }
    
    .line, .twi, .fb {
        width: 30px; height: 30px;
    }
    
    .copy {
        text-align: center;
        flex: 0 0 100%;
    }
} 

@media screen and (max-width:600px) { 

    .logo {
        flex: none;
        width: 130px;
        margin: 12px auto;
        position: relative;
    }
    
    .logo > a {
        vertical-align: middle;
    }
    
    .logo img {
        width: auto; height: 25px;
        vertical-align: middle;
    }
    
    #mobileSubmit {
        width: 44px; height: 44px;
        position: absolute;
        top: 5px; right: 15px;
        background: url(./img/search.png) no-repeat;
        outline: none;
        border: none;
        opacity: 1;
        transition: opacity .3s ease;
        display: block;
        cursor: pointer;
    }
    
    .feature {
        margin: 0 auto;
        min-width: 90%;
        opacity: 0;
        transition: opacity .3s ease;
    }

    .featureGrow {
        opacity: 1;
        margin: 6px auto 14px auto;
    }

    .searchBar {
        width: 100%; height: 0;
        margin-right: 0;
        opacity: 0;
        flex-shrink: 0;
        transition: height .3s ease, opacity .3s ease;
    }

    .searchBarGrow {
        height: 40px;
        opacity: 1;
    }

    .searchBar > input {
        width: 90%;
    }

    .cart, .member {
        display: none;
    }

    .smallBar {
        display: flex;
        position: fixed;
        bottom: 0;
        width: 100%; height: 60px;
        background: #313538;
        z-index: 1;
    }
    
    .sCart, .sMember {
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .smallBar > span {
        color: #ffffff;
        font-size: 16px;
        margin-top: 18px;
    }

    .scIcon, .smIcon {
        width: 44px; height: 44px;
        display: inline-block;
    }
    
    .scIcon {
        background: url(./img/cart-mobile.png) no-repeat;
        position: relative;
    }

    .smIcon {
        background: url(./img/member-mobile.png) no-repeat;
    }

    .moji {
        font-size: 16px;
        color: #ffffff;
    }
    
    .carousel {
        height: 185px;
    }

    .story {
        width: 143px; height: 99px;
        font-size: 14px;
        line-height: 28px;
        left: 10%; top: 35%; 
        transform: translateX(-10%) translateY(-35%);
    }
    
    .subText {
        font-size: 10px;
    }
    
    .dotWrap {
        width: 50px; height: 7px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .dot {
        width: 7px; height: 7px;
    }

    main {
        max-width: 360px;
        margin: 15px auto 11px auto;
    }

    .loading {
        margin-bottom: 4px;
    }

    .nothing {
        font-size: 18px;
        margin-bottom: 4px;
    }

    .row {
        justify-content: center;
    }

    .product {
        width: 153px; 
        overflow: hidden;
        margin-bottom: 24px;
    }

    .product:nth-child(odd) {
        margin-right: 6px; 
    }

    .new {
        width: 36px; height: 36px;
        font-size: 12px;
        line-height: 36px;
    }

    .palette {
        height: 12px;
        margin: 8pt 0 10px 0;
    }
    
    .colors {
        width: 12px; height: 12px;
        margin-right: 6px;
    }

    .title, .price {
        letter-spacing: 2.4px;
        font-size: 12px;
    }
    
    .price {
        margin: 8px 0 0 0;
    }

    .ftWrap {
        margin-bottom: 60px;
    }
}