.cartMain {
    max-width: 1160px;
    margin: 47px auto 98px auto;
}

.cartTop, .cartTitle, .cartSubTitle, .cartList, .cartItem, .cartLeft, .cartRight,
.cartShipment, .cartArea, .cartPayment, .cartDeliverTime, .cartTp,
.cartCheck, .cartMoney, .cartYesPay, .cartNoPay {
    display: flex;
}

.cartTop {
    padding-right: 31px;
}

.cartTitle {
    margin: 50px 31px 12px 0 ;
    font-weight: bold;
    flex: 1 0 auto;
    width: 265px;
}

.cartSubTitle {
    font-weight: normal;
    flex: 0 1 auto;
    width: 536.5px;
    justify-content: space-between;
    opacity: 1;
    transition: opacity .2s ease;
}

.cartSubTitle > p {
    text-align: center;
    margin: 50px 0 12px 0;
    flex-basis: 14%;
}

.airDelete {
    width: 44px;
}

.cartList {
    flex-flow: column;
    border: 1px solid #979797;
    padding: 10px 31px 40px 44px;
}

.cartItem {
    margin-top: 30px;
    align-items: center;
}

.cartEmpty {
    margin-top: 30px;
    align-items: center;
    text-align: center;
    font-size: 18px;
    color: #8b572a;
}

.cartLeft {
    flex: 2 0 auto;
    padding-right: 1%;
}

.cartImg {
    width: 114px; height: 151px;
    background: #8b572a;
}

.cartImg > img {
    width: 100%;
}

.cartBasic {
    margin-left: 10px;
}

.cartRight {
    justify-content: space-between;
    align-items: center;
    width: 536.5px;
    text-align: center;
}

.cartMoji {
    opacity: 0;
    margin-bottom: 10px;
    transition: opacity .2s ease;
}

.cartQty > select {
    width: 80px; height: 30px;
    outline: none;
    border-radius: 6px;
    padding-left: 10px;
}

.cartDelete {
    width: 44px; height: 38px;
    background: url(../img/cart-remove.png) no-repeat;
    cursor: pointer;
    align-self: flex-end;
}

.cartDelete:hover {
    background: url(../img/cart-remove-hover.png) no-repeat;
}

.cartShipment {
    margin: 26px auto 20px auto;
    background-color: #e8e8e8;
}

.cartShipment select {
    width: 171px; height: 30px;
    border-radius: 6px;
    outline: none;
    padding-left: 10px;
}

.cartArea, .cartPayment {
    margin: 22px 52px 22px 0;
    align-items: center;
}

.cartShipment p {
    margin: 0 20px 0 30px;
}

.cartOrderInfo {
    width: 100%;
    border-top: 1px solid #3f3a3a;
}

.cartOrderInfo form {
    max-width: 684px;
}

.cartTp {
    width: 100%;
    margin-top: 30px;
}

.cartTextInput, .tpfield {
    width: 83.6%; height: 30px;
    border-radius: 6px;
    outline: none; 
    border: 1px solid #979797;
    padding: 3px 10px;
    margin-left: 30px;
}

.tappay-field-focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.cartTextInput {
    margin-top: 30px;
}

.cartReminder {
    text-align: right;
    color: #8b572a; 
    margin-top: 10px;
}

.cartDeliverTime {
    margin-top: 30px;
}

.cartDeliverTime > div {
    margin-left: 30px;
}

.cartDeliverTime > div > input {
    width: 16px; height: 16px;
    vertical-align: middle;
}

.cartCheck {
    flex-flow: column;
    align-items: flex-end;
    max-width: 240px;
    margin-left: auto;
    margin-top: 79px;
}

.cartMoney {
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.cartMoney:nth-child(2) {
    margin: 20px 0 40px 0;
    position: relative;
}

.cartMoney:nth-child(2):after {
    content: "";
    position: absolute;
    width: 100%;
    top: 130%; left: 0;
    border-top: 1px solid #3f3a3a;
}

.cartMoneyWord {
    flex: 1 0;
}

.cartMoneyUnit {
    flex: 0 0;
    margin-right: 10px;
}

.cartMoneyTotal {
    font-size: 30px;
    flex: 0 0;
}

.cartMoneyWarn {
    margin-top: 30px;
    margin-left: auto;
    color: rgb(173, 24, 24);
    opacity: 0;
    transition: opacity .2s ease;
    font-size: 12px;
}

.cartMoneyWord, .cartMoneyUnit {
    font-size: 16px;
}

.cartYesPay, .cartNoPay {
    width: 240px; height: 60px;
    font-size: 20px;
    letter-spacing: 4px;
    border: 1px outset #888888;
    outline: none;
    cursor: pointer;
    margin: 3px 0 0 auto;
    justify-content: center;
    align-items: center;
    color: white;
    transition: background .2s ease;
}

.cartYesPay {
    background: black;
}

.cartNoPay {
    background: silver;
    border: 1px solid silver;
}

#processingOrder {
    width: 30px; height: 30px;
    background: url(../img/loading.gif) no-repeat;
    background-size: 100%;
    z-index: 1;
    margin-right: 20px;
    transition: opacity .2s ease;
}

@media screen and (max-width:1200px) {
    .cartMain {
        padding: 0 4%;
    }
}

@media screen and (max-width:900px) {

    .cartMain {
        margin: 20px auto 38px auto;
    }

    .cartTitle {
        margin: 20px 31px 12px 0 ;
    }

    .cartSubTitle {
        opacity: 0;
        display: none;
    }

    .cartSubTitle > p {
        margin: 20px 0 12px 0;
    }

    .cartList {
        flex-flow: column;
        border: none;
        padding: 20px 0 0 0;
        border-top: 1px solid black; 
    }

    .cartItem {
        margin-top: 0px;
        margin-bottom: 20px;
        flex-flow: row wrap;
        border-bottom: 1px solid black;
        padding-bottom: 20px;
    }

    .cartEmpty {
        margin-top: 0px;
        margin-bottom: 20px;
        border-bottom: 1px solid black;
        padding-bottom: 20px;
    }

    .cartLeft {
        flex: 2 0 100%;
        padding-right: 1%;
    }

    .cartRight {
        padding: 0 12px;
        width: 100%;
        margin-top: 20px; 
        position: relative;
    }

    .cartMoji {
        opacity: 1;
    }

    .cartDelete {
        position: absolute;
        top: -180px; right: 0;
    }

    .cartShipment, .cartArea, .cartPayment {
        flex-flow: row wrap;
    }

    .cartShipment {
        padding-top: 10px;
        margin: 10px auto 20px auto;
    }

    .cartArea, .cartPayment {
        flex-basis: 100%;
        margin: 0 10px 20px 10px;
    }

    .cartShipment select {
        width: 100%;
    }

    .cartShipment p {
        margin: 0;
    }

    .cartOrderInfo form {
        max-width: 100%;
    }

    .cartOrderInfo > form > p {
        margin-top: 20px;
    }

    .cartTp {
        flex-flow: row wrap;
        margin-top: 20px;
    }
    
    .cartTextInput, .tpfield {
        width: 100%;
        margin-left: 0px;
        margin-top: 10px;
    }

    .cartReminder { 
        margin-top: 6px;
    }

    .cartDeliverTime {
        margin-top: 20px;
        flex-flow: row wrap;
    }
    
    .cartDeliverTime > p {
        width: 100%;
    }
    
    .cartDeliverTime > div {
        margin: 10px 0;
        flex-grow: 1;
    }

    .cartCheck {
        margin-top: 48px;
    }

    .cartYesPay, .cartNoPay {
        width: 100%;
    }


}

/* @media screen and (max-width:600px) {} */