.thankMain {
    max-width: 1160px;
    margin: 30px auto auto auto;
}

.thankWrap {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom: 70px;
}

.envelope {
    position: relative;
    margin: 50px auto 0;
    width: 98px;
    height: 66px;
    background: #3a3e3e;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 1px #3a3e3e inset;
}

.envelope:before, .envelope:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-width: 33px 49px;
}

.envelope:before {
    border-bottom-color: #3a3e3e;
    top: -100%;
    left: 0px;
}

.envelope:after {
    border-right-color: #a39999;
    border-left-color: #624546;
    border-bottom-color: #624546;
    top: 0;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25);
}

.letter {
    background: #fff;
    width: 87px;
    height: 66px;
    margin: 0 auto;
    border-radius: 5px;
    position: absolute;
    left: 6px;
    top: -33px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25);
}

.letter:before, .letter:after {
    content: '';
    position: absolute;
    left: 12px;
    background: #daa97e;
    height: 4px;
    border-radius: 5px;
}

.letter:before {
    top: 14px;
    width: 31px;
}

.letter:after {
    right: 12px;
    top: 28px;
    box-shadow:
        0 8px 0 #daa97e,
        0 16px 0 #daa97e,
        0 24px 0 #daa97e,
        0 40px 0 #daa97e;
}

.thankWrap > p, #thankTitle {
    text-align: center; 
}

.thankWrap > p {
    font-size: 18px;
    margin-bottom: 6px;
}

#thankTitle {
    font-size: 82px;
    color: #8b572a;
    letter-spacing: 2px;
    font-family: "Yu Gothic", "Meiryo", "Microsoft JenghHei", sans-serif;
    font-weight: 500;
    margin: 30px 0;
}

#tellOrederNum {
    color: rgb(170, 31, 7);
}

#backToIndex {
    width: 180px; height: 40px;
    background: black;
    color: white;
    font-size: 16px;
    letter-spacing: 4px;
    border: 1px outset #888888;
    outline: none;
    cursor: pointer;
    margin-top: 60px;
}

/* @media screen and (max-width:120px) {}
@media screen and (max-width:900px) {} */

@media screen and (max-width:600px) {
    .thankMain {
        padding: 0 24px;
    }

    #thankTitle {
        font-size: 52px;
    }
}